* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100%;
}

.background {
    background-image: url('images/lofi.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
}

.zip-code-entry {
    text-align: center;
}

p {
    display: none;
}

input[type="number"] {
   -moz-appearance: textfield;
}